// Define project parameters needed for running the pipeline
params {
    // Azure vs Local directory
    azdir = "az://nf-blob-container"
    // localdir = "$launchDir"

    // General parameters (choose $azdir or $localdir)
    datadir = "${azdir}/data"
    refdir = "${azdir}/references"
    bt2idx = "$refdir/bt2idx"
    outdir = "${azdir}/cutrun-results"
    adapterpath = "${azdir}/data"


    // Reference genome and annotation files
    genome = "${refdir}/Drosophila_melanogaster.BDGP6.dna.fa"
    gtf = "${refdir}/Drosophila_melanogaster.BDGP6.85.sample.gtf"

    // Input parameters
    reads = "${datadir}/*{1,2}.fq.gz"


    // Trimmomatic
    threads = 4
    illuminaclip = "ILLUMINACLIP:$adapterpath/Truseq3.PE.fa:2:15:4:4:true"
    leading = "LEADING:20"
    trailing = "TRAILING:20"
    slidingwindow = "SLIDINGWINDOW:4:15"
    minlen = "MINLEN:25"

    // Cutruntools (docker pull weishwu/cutruntools:07082020)
    len = 99

    // Bowtie
    idxname = "drosophila"
    // p = 8
    indexpath = "${bt2idx}"
}
 