// Define project parameters needed for running the pipeline
params {
    // Azure vs Local directory
    azdir = "az://nf-blob-container"
    localdir = "$launchDir"

    // General parameters (choose $azdir or $localdir)
    datadir = "${params.azdir}/data"
    refdir = "${params.azdir}/references"
    bt2idx = "${params.refdir}/bt2idx"
    outdir = "${params.azdir}/cutrun-results"
    adapterpath = "${params.localdir}/data"


    // Reference genome and annotation files
    genome = "${params.refdir}/Drosophila_melanogaster.BDGP6.dna.fa"
    gtf = "${params.refdir}/Drosophila_melanogaster.BDGP6.85.sample.gtf"

    // Input parameters
    reads = "${params.datadir}/*{1,2}.fq.gz"


    // Trimmomatic
    threads = 4
    illuminaclip = "ILLUMINACLIP:${params.adapterpath}/Truseq3.PE.fa:2:15:4:4:true"
    leading = "LEADING:20"
    trailing = "TRAILING:20"
    slidingwindow = "SLIDINGWINDOW:4:15"
    minlen = "MINLEN:25"

    // Cutruntools (docker pull weishwu/cutruntools:07082020)
    len = 99

    // Bowtie
    idxname = "drosophila"
    // p = 8
    indexpath = "${params.bt2idx}"
}
 